[Unit]
Description=Checks for updates in the official repos or in the AUR

[Service]
Type=oneshot
ExecStart=/home/juuso/.local/user/bin/update-count auto


