[Unit]
Description=Check for updates couple of times a day

[Timer]
OnCalendar=*-*-* 13:00
OnCalendar=*-*-* 01:00
Persistent=true

[Install]
WantedBy=timers.target
