[user]
	email = juuso.er@gmail.com
	name = Juuso Elo-Rauta
[pull]
    rebase = false
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J' -c 'colorscheme gruvbox' -c 'let diffing=1'
