[user]
# Please adapt and uncomment the following lines:
	name = Juuso Elo-Rauta
	email = juuso.er@gmail.com
[pull]
	rebase = true
[status]
    showUntrackedFiles = no
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
 cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J' -c 'colorscheme gruvbox'
[difftool]
  prompt = true
[diff]
  tool = vimdiff
[core]
	editor = nvim
[init]
	defaultBranch = master
